

header {
	background-color: #394e7d;
}

footer {
	background-color: #394e7d;
}

nav {
	background-color: #d7e3f3;

}

nav>.nav .nav-link.active, nav>.nav .show>.nav-link {
	color: #ffffff;
	background-color: #394e7d;
}

nav>.nav .nav-link:hover {
	background-color: #394e7d;
	color: #ffffff;
}

.dropdown-menu {
	background-color: #d7e3f3;
}

nav>.nav .nav-link {
	padding: 5px 55px;
	color: #394e7d;
}

footer .nav-link {
	color: #ffffff;
}

footer .nav-link:hover {
	color: #d7e3f3;
}

.custom-border {
	border-left: 3px solid #5b7db6 !important;
	border-right: 3px solid #5b7db6 !important;
}