

header {
	background-color: #394e7d;
}

footer {
	background-color: #394e7d;
}

nav {
	background-color: #d7e3f3;

}

div>.navbar-nav .nav-link.active, nav>.nav .show>.nav-link {
	color: #ffffff;
	background-color: #394e7d;
}

div>.navbar-nav .nav-link:hover {
	background-color: #394e7d;
	color: #ffffff;
}

.dropdown-menu {
	background-color: #d7e3f3;
}

div>.navbar-nav .nav-link {
	padding: 5px 55px;
	color: #394e7d;
}

footer .nav-link {
	color: #ffffff;
}

footer .nav-link:hover {
	color: #d7e3f3;
}

@media (min-width: 992px) {	
	.custom-border {
		border-left: 3px solid #5b7db6 !important;
		border-right: 3px solid #5b7db6 !important;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border-color: rgba(255,255,255,.5);
}

.row {
	margin-right: 0;
	margin-left: 0;
}

